<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unified API Connect Sample</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script><!-- Fabric core -->


    <link href="~/Content/fabric.min.css" rel="stylesheet" />
    <link href="~/Content/fabric.components.min.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    

</head>
<body>
    <h1 class="ms-font-su">Welcome to a new Inbox.</h1>

    <div class="body-content">
        @RenderBody()
    </div>
  
    <!-- Optionally include Fabric's Component jQuery plugins -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.fabric.min.js"></script>

    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
</body>
</html>