



<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">

        <div class="ms-List" >
            <div class="ms-ListItem">
                <span class="ms-ListItem-primaryText">Satya Nadella</span>
                <span class="ms-ListItem-secondaryText">Office UI Fabric Rocks!</span>
                <span class="ms-ListItem-tertiaryText">Congrats on a fantastic release helping developers build apps that look like Office!</span>
                <span class="ms-ListItem-metaText">10:15a</span>
                <div class="ms-ListItem-actions">
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--attachment"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--x"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--flag"></i></div>
                </div>
            </div>
            <div class="ms-ListItem">
                <span class="ms-ListItem-primaryText">Satya Nadella</span>
                <span class="ms-ListItem-secondaryText">Office UI Fabric Rocks!</span>
                <span class="ms-ListItem-tertiaryText">Congrats on a fantastic release helping developers build apps that look like Office!</span>
                <span class="ms-ListItem-metaText">10:15a</span>
                <div class="ms-ListItem-actions">
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--attachment"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--x"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--flag"></i></div>
                </div>
            </div>
            <div class="ms-ListItem">
                <span class="ms-ListItem-primaryText">Satya Nadella</span>
                <span class="ms-ListItem-secondaryText">Office UI Fabric Rocks!</span>
                <span class="ms-ListItem-tertiaryText">Congrats on a fantastic release helping developers build apps that look like Office!</span>
                <span class="ms-ListItem-metaText">10:15a</span>
                <div class="ms-ListItem-actions">
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--attachment"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--x"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--flag"></i></div>
                </div>
            </div>
            <div class="ms-ListItem">
                <span class="ms-ListItem-primaryText">Satya Nadella</span>
                <span class="ms-ListItem-secondaryText">Office UI Fabric Rocks!</span>
                <span class="ms-ListItem-tertiaryText">Congrats on a fantastic release helping developers build apps that look like Office!</span>
                <span class="ms-ListItem-metaText">10:15a</span>
                <div class="ms-ListItem-actions">
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--attachment"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--x"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--flag"></i></div>
                </div>
            </div>
            <div class="ms-ListItem">
                <span class="ms-ListItem-primaryText">Satya Nadella</span>
                <span class="ms-ListItem-secondaryText">Office UI Fabric Rocks!</span>
                <span class="ms-ListItem-tertiaryText">Congrats on a fantastic release helping developers build apps that look like Office!</span>
                <span class="ms-ListItem-metaText">10:15a</span>
                <div class="ms-ListItem-actions">
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--attachment"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--x"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--flag"></i></div>
                </div>
            </div>
        </div>

    </div>
</div>


